@media screen and (max-width:655px){
    .js #site_nav{
        display:none;
        position:fixed;
        top:0;
        left:0;
        margin:0 !important;
        width:65%;
        height:100%;        
        background:lightgray;
        z-index:10;
    }    
    .js #site_nav li{
        width:100%;
   
    }
    .js ul#site_nav{
        margin-block-start:0;
        padding-inline-start:0;
    }
}

@media screen and (max-width:767px) {
    
}

